/.pulumi/
/.vscode/
/.vs/
bin/
build/
dist/
lib/
node_modules/
*.pyc
.Python
venv/
include/
yarn.lock
package-lock.json
Pulumi.*.yaml
.idea/
.ionide/
*.iml
key.rsa*
obj/
vendor
Gopkg.lock

**/ci-scripts
secrets
