.quasar
.DS_Store
.thumbs.db
node_modules
dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/temp
.env

# Editor directories and files
.idea
# .vscode
*.suo
*.ntvs*
*.njsproj
*.sln
private.pem
public.pem
secret.key
backup
.bit

# Tsc
*.tsbuildinfo

# Lerna
lerna-debug.log*
