.auth {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 40px 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-direction: column;
  flex-direction: column;
}

.auth .logo {
  height: 50px;
}

.auth > form {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column;
}
.auth > form > p {
  font-weight: 600;
  margin: 0;
  color: #6c757d;
  margin-bottom: 32px;
}
.auth > form > p > a {
  color: #1976d2;
  cursor: pointer;
}
.auth > form > input {
  width: 85%;
  max-width: 310px;
  margin-bottom: 20px;
}
.auth > form > button {
  width: 85%;
  max-width: 260px;
  display: inline-block;
  // line-height: 50px;
  text-align: center;
}
.auth p {
  font-weight: 600;
  margin: 0;
  color: #6c757d;
}
.auth p > a {
  color: #1976d2;
}
