name: Latest push on master
on:
  push:
    branches:
      - master
    tags-ignore:
      - '**' # TODO * pushes with tags - handled in the release workflow
jobs:
  nx:
    name: Nx lint,build,deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Install NodeJS
        uses: actions/setup-node@v2-beta
        with:
          node-version: '14'
      - name: Cache node_modules
        uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
      - name: Install NodeJS packages
        run: yarn
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Lint
        uses: mansagroup/nrwl-nx-action@v2
        with:
          targets: lint
          nxCloud: 'true'
      - name: Publish
        uses: mansagroup/nrwl-nx-action@v2
        with:
          targets: publish-docker
          nxCloud: 'true'
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}
